<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="logo cas blue.png">
    <link rel="stylesheet" href="Membre.css">
    <script src="https://kit.fontawesome.com/7e29f98d58.js" crossorigin="anonymous"></script>
    <title>cas</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#">CAS</a>
        </div>
        <nav class="navigation">
            <a href="#">Accueil</a>
            <a href="#">Profile</a>
            <a href="#mesParticipations">Mes participations</a>
            <a href="#comingActivities">Prochaines activités</a>
            <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </nav>
        <div class="recherche">
           <form>
            <input type="text" placeholder="Rechercher...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
           </form> 
        </div>
    </header>

    <main>
        <div class="profile">
            <div class="profilePic"></div>
            <div class="profileInfos">
                <table>
                    <tr>
                        <td>Nom</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Prénom</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Filière</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>INE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Téléphone</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Score</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="ranking">
            <div id="rankingTitle">
                <h2>mon classement</h2>
            </div>
            <div id="better"><h1>1</h1></div>
            <div id="me"><h1>2</h1></div>
            <div id="worse"><h1>3</h1></div>
        </div>
    </main>
    <section id="comingActivities">
        <div class="annonceTitle">
            <h1>Prochaines activités</h1>
        </div>

        <div class="annonce">
            <% if (activities && activities.length > 0) { %>
                    <% activities.forEach(activity => { %>
                         <div class="content">
                                <h2><%= activity.titre %></h2>
                                <p>Date: <%= activity.date %></p>
                                <p>Heure: <%= activity.heure %></p>
                                <p>Localisation: <%= activity.localisation %></p>
                                <p> <%= activity.description %> </p>
                                <button class="participer">Je participe</button>
                        </div>
                    <% }); %>
            <% } else { %>
                <p>aucune activité pour le moment</p>
            <% } %>

        </div>

    </section>
    <section id="mesParticipations">
        <div class="participationTitle">
            <h1>Mes participations</h1>
        </div>
        <div class="participation">
            <div class="participationContent">
                <p id="date">08-01-2024</p>
                <p id="details">Localisation | Activité | Notes | Description ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
            </div>
            <div class="participationContent">
                <p id="date">08-01-2024</p>
                <p id="details">Localisation | Activité | Notes | Description</p>
            </div>
            <div class="participationContent">
                <p id="date">08-01-2024</p>
                <p id="details">Localisation | Activité | Notes | Description ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
            </div>
        </div>
    </section>
</body>
</html>